a:hover{ 
	text-decoration: none;
	color: #e2a640;
}

body{
	background: url(../img/background.png);
 	background-color: #f7e3c712;
}
.content form {
  margin-top: 20px;
}
footer,
.footer {
  height: 100px;
}
a{
	color: #212529;
}
.jumbotron {
    background-color: transparent;
    margin: 0 auto;
}
.welcome{
	font-weight: 700;
}
.bnt-new{
	color: white;
    background: linear-gradient(to right, #f7931a, rgb(245, 175, 25));;
    cursor: pointer;
    font-weight: 500;
    opacity: 1;
    transition: all .25s;
    border-radius: 30px;
}
.bnt-new:hover {
	color: white;
    opacity: 0.75;
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background:linear-gradient(to right, #f7931a, rgb(245, 175, 25));;
}
.navbar-collapse {
    justify-content: center;
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    border-radius: 20px;
}
.bg-light {
    background-color: transparent !important; 
}
.navbar-light .navbar-nav .nav-link {
    color: #212529;
}
.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
    color: #e2a640;
}
.btn-jumb{
	color: white;
    background: #f7931a;
    cursor: pointer;
    font-weight: 500;
    opacity: 1;
    transition: all .25s;
    border-radius: 30px;
}
.btn-jumb:hover{
	color: white;
	opacity: 0.75;
}
.arr{
    text-decoration: underline;
}
.lifedrop{
    color: #ef5b2b;
    font-weight: 600;
	margin-bottom: 15px;
}
.timedrop{
    font-weight: 500;
}
.ng-binding{
	font-size: 13px;
}
.ng-span{
	color: #9a9a9a;
}
.btn-link {
    cursor: pointer;
    color: #212529;
}
.btn-link:hover { 
	text-decoration:none;
    color: #e2a640;
}
.btn-link:focus, .btn-link.focus {
    text-decoration: none;
    border-color: transparent;
    box-shadow: none;
}